.btn-primary{
  background-color: $hks-blue;
  border-color: $hks-blue;
  padding: 8px 50px 8px 50px;
}
.btn-pricing{
  background-color: $hks-blue;
  border-color: $hks-blue;
  padding: 8px 50px 8px 50px;
  border-radius: 40px;
  a{
  color: $white;
  :hover,:active{
    background-color: $hks-blue-600;
    border-color: $hks-blue-600;
  } 
  }
}