//plugin
@import "../scss/plugin/boostrap";
//style
@import "../scss/style/color";
@import "../scss/style/fonts";
@import "../scss/style/banner";
@import "../scss/style/btn";
@import "../scss/style/card";
@import "../scss/style/img";
//element
@import "../scss/elment/parallax";
.breadcrumb{
  background-color: $white;
  //background-color: red;
  padding: .75rem 0rem;
  a{
    color: $hks-blue;
  }
}